.app-download {
  --app-download-height: 668px;

  position: relative;

  height: var(--app-download-height);
  max-width: @desktop-width * 1.2;

  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;

}

.app-download__picture-wrapper {
  --hand-right-padding: 35%;

  position: relative;
  height: 400px;
  width: 100%;

  // Картинка на экране мобильника
  &::before {
    content: "";
    position: absolute;
    width: 108px;
    height: 187px;
    right: calc(var(--hand-right-padding) + 40px);
    bottom: 82px;
    background: url(../img/bg-header.jpg) 50% 0 no-repeat;
    background-size: auto 120%;
    background-color: @theme-color-2;
    background-blend-mode: luminosity;
  }
}

.app-download__picture {
  position: absolute;
  bottom: 0;
  right: var(--hand-right-padding);

  display: block;
  width: 260px;
  height: auto;
}

.app-download__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  height: calc(var(--app-download-height) - 400px);
  background-color: @theme-color-1;
  padding-top: 28px;
  padding-bottom: 35px;
  .mob-container;
}

.app-download__slogan {
  display: none;
}

.app-download__systems-list {
  .list-clear;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-download__systems-list-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.app-download__main-button {
  width: 280px;

  &:hover {
    background-color: @theme-color-4;
    color: @theme-color-2;
  }
  &:active {
    color: fade(@theme-color-2, 30%);
  }
}

.app-download__systems-list-button {
  display: block;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-download__footnote {
  .mp-clear;
}


// Планшет
@media (min-width: @tablet-width) {
  .app-download {
    --app-download-height: 620px;

    flex-direction: row;
    justify-content: stretch;
    
  }
  
  .app-download__picture-wrapper {
    height: var(--app-download-height);
    --hand-right-padding: 5%;

    // Картинка на экране мобильника
    &::before {
      width: 195px;
      height: 348px;
      right: calc(var(--hand-right-padding) + 75px);
      bottom: 149px;
    }
  }

  .app-download__picture {
    left: auto;

    width: 480px;
  }

  .app-download__wrapper {
    position: absolute;
    right: 50%;
    background-color: transparent;
    height: calc( var(--app-download-height) - 80px );
    padding-top: 60px;
  }

  .app-download__slogan {
    display: block;
    font-size: @base-font-size + 26px;
    line-height: 1.4em;
    .mp-clear;
  }
}

// Десктоп
@media (min-width: @desktop-width) {
  .app-download {
    --app-download-height: 735px;
  }
  
  .app-download__picture-wrapper {
    --hand-right-padding: 15%;

    // Картинка на экране мобильника
    &::before {
      width: 232px;
      height: 413px;
      right: calc(var(--hand-right-padding) + 88px);
      bottom: 177px;
    }
  }

  .app-download__picture {
    left: auto;

    width: 570px;
  }

  .app-download__wrapper {
    left: 5vw;
    right: auto;
    height: calc( var(--app-download-height) - 140px );
    padding-top: 100px;
  }
}