.effect {
  position: relative;
  z-index: 1;
  display: none;
  background-color: @theme-color-5;
}


@media (min-width: @tablet-width) {

  .effect {
    display: block;
    
    &__wrapper {
      .container;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  
      padding-top: 60px;
      padding-bottom: 100px;
    }

    &__timer-block {
      width: 50%;

      display: flex;
      flex-direction: row;
      justify-content: center;

      // текст внутри таймера
      position: relative;
      &::before {
        position: absolute;
        content: "24";
        left: calc(50% - 80px);
        top: calc(55% - 80px);

        width: 160px;
        height: 160px;

        display: flex;
        align-items: center;
        justify-content: center;

        line-height: 96px;
        font-size: 96px;
        font-weight: bold;
        color: @timer-inner-color;
      } // ----------------------
    }

    &__timer-image {

      width: 240px;
      height: 275px;
    }

    &__info-block {
      width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      margin: 0;
      margin-bottom: 15px;

      line-height: @base-line-height + 12;
      font-size: @base-font-size + 16;
      font-weight: bold;

      color: @theme-color-1;
    }

    &__description {
      margin: 0;
      margin-bottom: 15px;
    }

    &__link {
      color: @theme-color-2;
      width: fit-content;

      &:hover,
      &:focus {
        text-decoration: none;
        outline: 1px dotted @theme-color-2;
      }
      &:active {
        color: @theme-color-1-l;
      }
    }
  }

}

@media (min-width: @desktop-width) {
  .effect {
    background-color: @theme-color-4;
    
    &__wrapper {
      padding-bottom: 65px;
    }

    &__timer-block {
      width: 40%;

      &:before {
        font-size: 140px;
      }
    }

    &__timer-image {
      width: 300px;
      height: 345px
    }

    &__info-block {
      width: 60%;
      padding-right: 5vw;
    }

    &__title br {
      display: none;
    }
  }
}