.page-header {
  background: url(../img/bg-header.jpg) 50% 260px no-repeat;
  background-color: darken(@theme-color-1, 50%);
  background-blend-mode: luminosity;
}

@media (min-width: @desktop-width) {
  .page-header {
    background-position: 50% 0;
    background-size: cover;
  }
}