// Глобальные стили
body {
  min-width: @mibile-width;
  .mp-clear;

  font-family: @base-font-family;
  font-size: @base-font-size;
  line-height: @base-line-height;
  font-style: normal;
  color: @theme-color-1-l;

  background-color: @theme-color-5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Доступно скрыть
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Умолчания для SVG
:root {
  // Окрас лого
  --main-logo__text-color: @theme-color-5;
  --main-logo__i-dot-color: @theme-color-2;

  --main-logo__glasses-plain-color: @theme-color-5;

  --main-logo__glasses-decorated-color: @theme-color-5;
  --main-logo__ornamentals-color: @theme-color-2;

  // Окрас таймера
  --timer__body-color: @timer-body-color;
  --timer__inner-line-color: @timer-inner-color;

  // Окрас социальных кнопок
  --twitter-logo-color: @theme-color-2;
  --facebook-logo-color: @theme-color-2;
  --youtube-logo-color: @theme-color-2;

  // Окрас лого копирайта
  --html-academy-logo-color: @theme-color-2;
  
  // Окрас значка лайка
  --like-logo-color: @theme-color-2;
}